@import "../../../assets/styles/mixins";

.flags_container{
    @include container;
    
    display: grid;
    gap: 75px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    padding-bottom: 50px;
}