@import "../../../assets/styles/mixins";

.flags_container{
    @include container;
    
    display: grid;
    row-gap: 75px;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    padding-bottom: 50px;

    @media only screen and (max-width: $bp_md){
        justify-items: center;
        row-gap: 40px;
    }

    #not_found{
        text-align: center;
        font-size: 24px;
        padding-top: 50px;
    }
}