@import "./variables";
/* Resets */

*,
*::before,
*::after,
p {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background: #fafafa;
	color: $text_black;
	font-family: $font_primary;

	&.dark {
		background: #202c36;
		color: $color_white;
	}
}
